@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+SA+Beginner&family=Finlandica:ital,wght@1,600&family=Gentium+Book+Plus:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,300;1,400&family=Poppins:wght@300;500&family=Raleway:wght@200&family=Roboto&family=Roboto+Slab:wght@300&display=swap');
body{font-family: 'Poppins', sans-serif;}
.bannerImage ,.inventionImage{height: 405px;   width: 100%;}
.clientImage{height: 100px;width: 100px;}
.footer{width: 99.1%;}
.questionImage{height: 365px;}
.footerImage{height: 100px; width: 180px;}
.hotButton{float: right; margin-top: -70px; border: none; background-color: red; color: wheat; border-radius: 18px;
width: 95px; padding: 3px;
}
@media (max-width:800px) {
    .flexDirction{
        display: flex;
        flex-direction: column-reverse;
    }
}